.header {
    border-bottom: 1px solid #ddd;
}

.header .header_wrap {
    display: flex;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;

    height: 103px;
}

.header h1 img {
    vertical-align: middle;
}

.header .gnb {
    margin-left: auto;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li ul {
    position: absolute;
    top: 103px;
    left: 50%;
    z-index: 3;

    display: none;

    width: 200px;

    transform: translate(-50%, -16px);

    background: #fff;
    border: 1px solid #ddd;
}

.header .gnb>ul>li:hover ul {
    display: block;
}

.header .gnb>ul>li>a {
    display: flex;
    line-height: 103px;
    font-size: 17px;
    font-weight: 400;
    white-space: nowrap;
}

.header .gnb>ul>li ul li a {
    display: block;
    line-height: 40px;
    padding-left: 16px;
    white-space: nowrap;
}

.header .gnb>ul>li ul li~li a {
    border-top: 1px solid #ddd;
}

.header .mopen {
    display: none;
}

@media (max-width:1202px) {
    .header {
        border-bottom: 1px solid #ddd;
    }

    .header .header_wrap {
        display: flex;
        align-items: center;
        max-width: 1170px;
        margin: 0 auto;

        height: 103px;

        /* r */
        margin: 0 16px;
    }

    .header h1 img {
        vertical-align: middle;
    }

    .header .gnb {
        margin-left: auto;
    }

    .header .gnb>ul {
        display: flex;
        gap: 40px;
    }

    .header .gnb>ul>li {
        position: relative;
    }

    .header .gnb>ul>li ul {
        position: absolute;
        top: 103px;
        left: 50%;
        z-index: 3;

        display: none;

        width: 200px;

        transform: translate(-50%, -16px);

        background: #fff;
        border: 1px solid #ddd;
    }

    .header .gnb>ul>li:hover ul {
        display: block;
    }

    .header .gnb>ul>li>a {
        display: flex;
        line-height: 103px;
        font-size: 17px;
        font-weight: 400;
        white-space: nowrap;
    }

    .header .gnb>ul>li ul li a {
        display: block;
        line-height: 40px;
        padding-left: 16px;
        white-space: nowrap;
    }

    .header .gnb>ul>li ul li~li a {
        border-top: 1px solid #ddd;
    }

    .header .mbtn {
        display: none;
    }
}

@media (max-width:768px) {
    .header {
        border-bottom: 1px solid #ddd;
    }

    .header .header_wrap {
        display: flex;
        align-items: center;
        max-width: 1170px;
        margin: 0 auto;

        height: 103px;

        /* r */
        margin: 0 16px;
    }

    .header h1 img {
        vertical-align: middle;
    }

    /* r */
    .header h1 {
        position: fixed;
        z-index: 1000;

        padding: 0 0 0 16px;
    }

    .header .gnb {
        margin-left: auto;

        /* r */
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 999;

        margin-left: 0;
        padding: 120px 24px 0 24px;
        width: calc(100% - 80px);
        height: 100vh;
        border-right: 1px solid #ddd;

        background: #fff;

        transition: 0.4s;
    }

    .header .gnb.on {
        left: 0;
    }

    .header .gnb>ul {
        display: flex;
        gap: 40px;

        /* r */
        flex-direction: column;
        gap: 0;

    }

    .header .gnb>ul>li {
        position: relative;
    }


    .header .gnb>ul>li ul {
        position: absolute;
        top: 103px;
        left: 50%;
        z-index: 3;

        display: none;

        width: auto;

        transform: translate(-50%, -16px);

        background: #f9f9f9;
        border: none;
        border-top: 1px solid #333;

        /* r */
        position: static;

        transform: translate(0, 0);
    }

    .header .gnb>ul>li:hover ul {
        display: block;

        /* r */
        display: none;
    }

    .header .gnb>ul>li>a {
        display: flex;
        line-height: 103px;
        font-size: 17px;
        font-weight: 400;
        white-space: nowrap;

        /* r */
        line-height: 40px;
        border-bottom: 1px solid #ddd;
    }


    .header .gnb>ul>li ul li a {
        display: block;
        line-height: 40px;
        padding-left: 16px;
        white-space: nowrap;
    }

    .header .gnb>ul>li ul li~li a {
        border-top: 1px solid #ddd;
    }

    .header .mopen {
        display: block;

        position: fixed;
        right: 16px;
        top: auto;
        z-index: 999;

        padding: 4px;
        background: #fff;
        border: 1px solid #ddd;
    }
}

.main_visual {
    position: relative;
}

.main_visual::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    z-index: 2;
    background: linear-gradient(to left, transparent 10%, rgba(0, 0, 0, 0.5) 50%);
}

.main_visual .main_visual_slide .itm {
    height: calc(100vh - 104px);
    background-position: center center;
    background-size: cover;
}

.main_visual .main_visual_slide .itm01 {
    background-image: url(../images/main_visual01.jpg);
}

.main_visual .main_visual_slide .itm02 {
    background-image: url(../images/main_visual02.jpg);
}

.main_visual .main_visual_slide .itm03 {
    background-image: url(../images/main_visual03.jpg);
}

.main_visual .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, -50%);
    max-width: 1170px;
    width: 100%;
}

.main_visual .slg strong {
    display: block;
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
}

.main_visual .slg p {
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width:768px) {
    .main_visual .slg {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;

        transform: translate(-50%, -50%);
        max-width: 1170px;
        width: 100%;
    }

    .main_visual .slg strong {
        display: block;
        margin-bottom: 16px;
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);

        /* r */
        margin: 0 16px;
        margin-bottom: 32px;
    }

    .main_visual .slg p {
        font-size: 17px;
        line-height: 24px;
        color: #fff;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);

        /* r */
        margin: 0 16px;
        margin-bottom: 32px;
    }
}



.main_visual .scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-40px, 0);
    width: 80px;
    height: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main_visual .scroll::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;

    transform: translate(-50%, 32px);

    animation: wheel 2s infinite;
}

@keyframes wheel {
    0% {
        opacity: 1;
        transform: translate(-50%, 32px);
    }

    75% {
        opacity: 1;
        transform: translate(-50%, 116px);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 116px) scale(8);
    }
}

.main_visual .scroll::after {
    content: "";
    display: block;
    width: 1px;
    height: 88px;
    background: #fff;
    opacity: 0.5;
}

.main_visual .scroll span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px;
}



.main_content .inner {
    display: flex;
    gap: 30px;
}

.main_content .inner>* {
    flex: 1;
}

.main_content .inner img {
    width: 100%;
}

@media (max-width:768px) {
    .main_content .inner {
        flex-direction: column;
    }
}

.footer {
    padding: 40px 0;
    background: #333;
}

.footer .customer {
    display: flex;
    gap: 40px;
    margin-bottom: 16px;
}

.footer .customer a {
    position: relative;
    color: #fff;
}

.footer .customer li~li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 1px;
    height: 0.5em;
    background: #fff;

    transform: translate(0, -50%);
}

.footer .customer a.b {
    font-weight: 700;
}

.footer p {
    color: #fff;
    margin-bottom: 16px;
}

.footer address {
    color: #fff;
}

@media (max-width:768px) {
    .footer {
        padding: 40px 0;
        background: #333;
    }

    .footer .customer {
        display: flex;
        gap: 40px;
        margin-bottom: 16px;


        flex-direction: column;
        gap: 8px;
    }

    .footer .customer a {
        position: relative;
        color: #fff;
    }

    .footer .customer li~li a::before {
        display: none;
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        width: 1px;
        height: 0.5em;
        background: #fff;

        transform: translate(0, -50%);
    }

    .footer .customer a.b {
        font-weight: 700;
    }

    .footer p {
        color: #fff;
        margin-bottom: 16px;
    }

    .footer address {
        color: #fff;
    }
}